{% extends '::publicTemplate.html.twig' %}

{% block breadcrumbs %}
    <!-- Begin Page Header -->
    <div class="header">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs -->
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li><span class="ion-home breadcrumb-home"></span><a href="{{ path('public_homepage') }}">Inicio</a></li>
                        <li>Políticas de Privacidad</li>
                    </ol>
                </div><!-- /column -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /page header -->
{% endblock %}

{% block generalContent %}
    <!-- Begin Content -->
    <div class="content-40mg">
        <div class="container">
            <div class="row mb30">
                <div class="col-xs-12 white-bg-shadow">
                    <div class="row">
                        <div class="col-xs-12" style="padding-left: 20px;padding-right: 20px;">
                            <div class="heading mt30">
                                <h3>Políticas de Privacidad</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt30 mb30">
                        <!-- Begin Form -->
                        <div class="col-xs-12" style="padding-left: 20px;padding-right: 20px;">
                            <p>
                                A través de la presente Política se informa que los datos personales de los usuarios de
                                los medios en Internet, como páginas web, Redes Sociales, y otros medios, serán tratados
                                de conformidad con los principios de transparencia, limitación de la finalidad, minimización
                                de datos, exactitud, integridad, y confidencialidad, así como respetando el resto de obligaciones
                                y garantías establecidas para la protección de las personas físicas en lo que respecta al tratamiento
                                de datos personales y a la libre circulación de estos datos.
                            </p>

                            <p>
                                Los datos personales tratados son los directamente proporcionados por el interesado,
                                la persona que es titular de los datos.
                            </p>

                            <p>
                                Las categorías-tipos de los datos que se tratan, son los que se solicitan en los formularios
                                dispuestos para ello, y los datos que voluntariamente se proporcionan por los usuarios en
                                todos aquellos lugares donde sea posible ampliar la información en campos de texto libre, o
                                bien enviados por email o por otros medios.
                            </p>

                            <p>
                                Los datos tratados solicitados, más los aportados voluntariamente por los usuarios, de manera general serán:
                            </p>

                            <p>
                                Identificativos – <b>DNI-Pasaporte-NIE</b> - Direcciones postales y/o electrónicas - <b>Teléfonos fijos-móviles</b>
                                - Información comercial - Datos de transacciones - Datos de medios de pago - Datos introducidos como preferencias del usuario
                                - No se tratan datos sensibles o especialmente protegidos, salvo indicación específica del
                                usuario para atender sus necesidades y/o preferencias.
                            </p>

                            <p>
                                En el caso de envío de CV´s, los datos tratados serán los incluidos en el documento de
                                formato libre enviado por el interesado. Los CV´s se descartarán después de un año desde su última actualización.
                            </p>

                            <p>
                                <b>MERCADO FREE</b> desea garantizar su privacidad cuando utilice nuestros servicios, por ello
                                en nuestra Política de Privacidad se le informará de nuestra política de protección de datos
                                personales y así podrá decidir voluntariamente en qué grado desea proporcionarlos.
                            </p>

                            <p>
                                Los datos de carácter personal solicitados en los formularios dispuestos al efecto, por
                                medio de correo electrónico, o los datos personales que Ud incluya en sus comunicaciones por
                                otros medios, servirán para gestionar la relación específica que en dichos medios se establece,
                                con las finalidades explícitas y concretas que se incluyen en dichos medios, para gestionar sus
                                reservas, estancias, servicios solicitados, enviarle la información solicitada, gestionar las
                                facturaciones, resolver incidencias, inscribirle en los servicios, eventos, actos, así como para
                                la gestión y control de los mismos, y para responder a las consultas, sugerencias, e incidencias
                                que se solicitan o plantean.
                            </p>

                            <p>
                                Se podrán elaborarán perfiles o segmentaciones con la finalidad de atender mejor sus preferencias
                                y poder mejorar nuestros servicios. En ningún caso se tomarán decisiones automatizadas sobre los datos tratados.
                            </p>

                            <p>
                                En caso de que nos haya proporcionado su dirección electrónica, email, y/o ID-identificación de
                                mensajería electrónica, Ud autoriza expresamente la remisión de comunicaciones electrónicas para
                                informarle y contestarle sobre todo lo relacionado con su comunicación y con la relación establecida, y
                                también sobre actos, eventos, o promociones que realice <b>MERCADO FREE</b> que estén relacionados con su
                                comunicación. En todos los envíos que reciba se le dará la posibilidad de darse de baja de la lista de
                                distribución, además, en cualquier momento puede darse de baja remitiéndonos un e-mail a: <a href="mailto:info@mercadofree.com.ar">info@mercadofree.com.ar</a>.
                            </p>

                            <p>
                                Sus datos podrán ser comunicados a otras empresas, entidades, instituciones públicas o privadas,
                                con la única finalidad y exclusivamente en aquellos casos que sean necesarios para la correcta
                                prestación del servicio, consulta, o gestión de la relación establecida.
                            </p>

                            <p>
                                En el supuesto de que aporte sus datos a través de un mensaje de correo electrónico, el mismo
                                formará parte de un tratamiento cuya finalidad será la gestión de la solicitud, sugerencia,
                                o comentario que nos realiza.
                            </p>

                            <p>
                                <b>MERCADO FREE</b> coopera con las autoridades competentes y con otros terceros para garantizar el
                                cumplimiento de las leyes, por ejemplo en materia de protección de derechos de propiedad industrial e
                                intelectual, prevención del fraude y otras materias.
                            </p>

                            <p>
                                <b>MERCADO FREE</b> podrá revelar la Información Personal de sus usuarios bajo requerimiento de
                                las autoridades judiciales o gubernamentales competentes para efectos de investigaciones conducidas por ellas,
                                aunque no exista una orden ni una citación ejecutiva o judicial, o por ejemplo (y sin limitación a este supuesto)
                                cuando se trate de investigaciones de carácter penal o de fraude o las relacionadas con piratería informática o la
                                violación de derechos de autor. En tales situaciones, <b>MERCADO FREE</b> colaborará con las autoridades competentes con
                                el fin de salvaguardar la integridad y la seguridad de la Comunidad y la de sus usuarios.
                            </p>

                            <p>
                                <b>MERCADO FREE</b> puede (y los usuarios lo autorizan expresamente) comunicar cualquier
                                Información Personal sobre sus usuarios con la finalidad de cumplir la normativa aplicable y
                                cooperar con las autoridades competentes en la medida en que discrecionalmente lo entendamos necesario y
                                adecuado en relación con cualquier investigación de un ilícito o un fraude, infracción de derechos de
                                propiedad industrial o intelectual, u otra actividad que sea ilegal o que pueda exponer a <b>MERCADO FREE</b>
                                o a sus usuarios a cualquier responsabilidad legal.Además, podemos (y los usuarios lo autorizan expresamente)
                                comunicar su nombre completo, apodo, domicilio, ciudad, región, código postal, país, número de teléfono,
                                dirección de correo electrónico, etc. a los participantes en el Programa de Protección de Propiedad Intelectual
                                de <b>MERCADO FREE</b> en la forma que, a nuestra discreción, entendamos necesaria o adecuada en relación con
                                la investigación del fraude, infracción de derechos de propiedad industrial o intelectual, piratería, o
                                cualquier otra actividad ilegal. Este derecho será ejercido por <b>MERCADO FREE</b> a efectos de cooperar
                                con el cumplimiento y ejecución de la ley, independientemente que no exista una orden judicial o administrativa al efecto.
                            </p>

                            <p>
                                Además, <b>MERCADO FREE</b> se reserva el derecho (y nos autorizas expresamente a ello) de
                                comunicar información sobre sus usuarios a otros usuarios, entidades o terceros cuando haya motivos
                                suficientes para considerar que la actividad de un usuario sea sospechosa de intentar o cometer un delito
                                o intentar perjudicar a otras personas. Este derecho será utilizado por <b>MERCADO FREE</b> a su entera
                                discreción cuando lo considere apropiado o necesario para mantener la integridad y la seguridad de la
                                Comunidad y la de sus usuarios, para hacer cumplir los Términos y Condiciones Generales y
                                demás Políticas del sitio y a efectos de cooperar con la ejecución y cumplimiento de la ley.
                                Este derecho será ejercido por <b>MERCADO FREE</b> independientemente que no exista una orden
                                judicial o administrativa al efecto.
                            </p>

                            <p>
                                Los datos se conservarán mientras se mantenga activa la relación o no se solicite su cancelación,
                                se conservarán al menos durante un plazo de <b>10 años</b> desde la última interacción, así como durante
                                los plazos legales preceptivos de acuerdo a la normativa específica que les sea aplicable.
                            </p>

                            <p>
                                Asimismo, el haber proporcionado los datos voluntariamente legitima su tratamiento para las finalidades que han sido informadas.
                            </p>

                            <p>
                                Reconocemos y protegemos su derecho a la Privacidad y a la Protección de sus Datos personales, por lo que Ud.
                                podrá ejercer sus derechos en relación a este tratamiento en las formas indicadas en el epígrafe <b>“Derechos del Interesado”</b>.
                            </p>

                            <p>
                                El tratamiento de sus datos se efectúa al amparo del consentimiento otorgado, libre, explícito, informado, y específico.
                            </p>

                            <p>
                                Con la navegación en nuestras páginas, por la aceptación de las cookies, o por haber seguido navegando después de ser
                                informado de las cookies, al completar los formularios, y/o enviado un email, o enviada una comunicación por
                                otros medios,Ud. consiente expresamente el tratamiento de los datos para las finalidades expuestas en
                                la presente <b>Política de Privacidad</b>.
                            </p>

                            <h4 class="mb20">Derechos del Interesado</h4>
                            <p>
                                Los Interesados tienen derecho a conocer que en <b>MERCADO FREE</b> tratamos sus datos de acuerdo
                                a las finalidades especificadas en la Política de Privacidad y Protección de Datos de la que este
                                epígrafe forma parte.
                            </p>
                            <p>Tiene derecho a acceder a sus datos personales, y a rectificarlos si fueran inexactos.</p>
                            <p>
                                Tiene derecho a solicitar la supresión de los mismos cuando, ente otros motivos, los datos
                                ya no sean necesarios para la finalidad por la que fueron recabados.
                            </p>
                            <p>
                                En determinadas circunstancias, los Interesados podrán solicitar la limitación del tratamiento
                                de sus datos, los cuales serán conservados únicamente para el ejercicio del derecho de defensa
                                ante reclamaciones y/o litigios, y durante los plazos legales exigibles para su conservación.
                            </p>

                            <p>
                                En determinadas circunstancias, los Interesados podrán oponerse al tratamiento de sus datos.
                                La entidad <b>MERCADO FREE</b> dejará de tratar sus datos, con las únicas excepciones de
                                motivos legítimos, por motivos históricos, artísticos, o de investigación, para la defensa
                                ante reclamaciones, o por lo previsto en la normativa vigente.
                            </p>

                            <p>
                                Para ejercer estos derechos, el interesado deberá efectuar una comunicación a la dirección
                                arriba expuesta al inicio, indicando el derecho que quiere ejercer, adjuntando copia de un documento
                                que lo identifique, DNI o Pasaporte, u otro documento que lo identifique fehacientemente.
                            </p>

                            <h4 class="mb20">Menores</h4>
                            <p>
                                Nuestros servicios sólo están disponibles para aquellas personas que tengan capacidad legal para
                                contratar. Por lo tanto, aquellos que no cumplan con esta condición deberán abstenerse de
                                suministrar información personal para ser incluida en nuestras bases de datos. Sin embargo,
                                pueden hacerlo a través de los padres o tutores.
                            </p>

                            <h4 class="mb20">Cookies</h4>
                            <p>
                                <b>MERCADO FREE</b> hace uso de "cookies" durante la navegación del usuario con la intención
                                de poder ofrecer un mejor servicio. En ningún caso estos elementos servirán para identificar a
                                una persona concreta ya que su uso será meramente técnico, con la excepción de las cookies
                                necesarias para la correcta ejecución de las transacciones solicitadas por un usuario concreto
                                como pueden ser las reservas, para mantener el registro de usuarios, y para el mantenimiento de
                                las sesiones de usuario.
                                Las cookies tienen como finalidad general ofrecer un mejor servicio a los usuarios, y permitir
                                durante la sesión la realización y correcta utilización de todos y cada uno de los contenidos
                                disponibles en la web www.mercadofree.com.ar El usuario puede deshabilitar las cookies a través de
                                las opciones de su navegador.

                            </p>

                            <p>
                                Para conocer más sobre el uso de cookies en la página web puede consultar nuestra <b>“Política de Cookies”</b>.
                            </p>

                            <h4 class="mb20">
                                Las Políticas de Privacidad específicas de determinados tratamientos se exponen a
                                continuación como extensiones específicas de la Política de Privacidad Web de MERCADO FREE:
                            </h4>

                            <h4 class="mb20">Política de Privacidad “Formulario Contacta con nosotros”</h4>
                            <p>
                                Le informamos que los datos que Ud. nos proporciona a través del formulario “Contacta con nosotros”
                                formarán parte de un tratamiento de datos de carácter personal, responsabilidad de
                                <b>MERCADO FREE</b>, con la finalidad de informarle sobre los productos y servicios que ofrece <b>MERCADO FREE</b>.
                            </p>

                            <p>
                                Para ejercitar los derechos que le asisten, dirija una comunicación escrita a la dirección indicada
                                anteriormente, con la referencia <b>“Protección de Datos”</b>, adjuntando copia de su Documento Nacional de Identidad o
                                documento equivalente.
                            </p>

                            <h4 class="mb20">Política de Privacidad “Newsletter”</h4>

                            <p>
                                En caso de suscribirse a la <b>“Newsletter”</b>, queda informado que los datos que nos ha proporcionado,
                                formarán parte de un tratamiento de datos de carácter personal, responsabilidad de <b>MERCADO FREE</b>,
                                con la finalidad de remitirle boletines con información comercial y publicidad sobre
                                nuestros productos y servicios por medios electrónicos.
                            </p>

                            <p>
                                Para ejercitar los derechos que le asisten, dirija una comunicación escrita a la dirección indicada
                                anteriormente, con la referencia <b>“Protección de Datos”</b>, adjuntando copia de su Documento Nacional de
                                Identidad o documento equivalente.
                            </p>

                            <h4 class="mb20">Política de Privacidad “Presupuesto”</h4>

                            <p>
                                Queda informado que los datos que usted nos ha proporcionado, formarán parte de un tratamiento
                                de datos de carácter personal, responsabilidad de <b>MERCADO FREE</b>, con la finalidad de gestionar la
                                solicitud de presupuesto que nos ha planteado y las comunicaciones que se deriven como consecuencia de la misma.
                            </p>

                            <p>
                                Podrá ejercitar los derechos que le asisten remitiendo una comunicación escrita a <b>MERCADO FREE</b>,
                                con la referencia <b>“Protección de Datos”</b> adjuntando copia de su Documento Nacional de
                                Identidad o documento identificativo equivalente.
                            </p>
                        </div>


                    </div>

                </div>
            </div>

        </div><!-- /container -->
    </div><!-- /content -->
    <!-- End Content -->

{% endblock %}
