{% extends '::publicTemplate.html.twig' %}

{% block breadcrumbs %}
    <!-- Begin Page Header -->
    <div class="header">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs -->
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li><span class="ion-home breadcrumb-home"></span><a href="{{ path('public_homepage') }}">Inicio</a></li>
                        <li>Términos y condiciones</li>
                    </ol>
                </div><!-- /column -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /page header -->
{% endblock %}

{% block generalContent %}
    <!-- Begin Content -->
    <div class="content-40mg">
        <div class="container">
            <div class="row mb30">
                <div class="col-xs-12 white-bg-shadow">
                    <div class="row">
                        <div class="col-xs-12" style="padding-left: 20px;padding-right: 20px;">
                            <div class="heading mt30">
                                <h3>Términos y Condiciones</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt30 mb30">
                        <!-- Begin Form -->
                        <div class="col-xs-12" style="padding-left: 20px;padding-right: 20px;">
                            <p>
                                Este contrato describe los términos y condiciones generales (los "Términos y Condiciones Generales")
                                aplicables al uso de los servicios ofrecidos por Mercado Free, CUIT …………….., ("los Servicios")
                                dentro del sitio www.mercadofree.com.ar (“Mercado Free o el "sitio").
                                Cualquier persona (en adelante "Usuario" o en plural "Usuarios") que desee acceder y/o usar
                                el sitio o los Servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales respectivos,
                                junto con todas las demás políticas y principios que rigen Mercado Free y que son incorporados al
                                presente por referencia.
                                <b>CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES
                                    TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.</b>

                            </p>

                            <p>
                                El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones
                                Generales y en las Políticas de Privacidad así como en los demás documentos incorporados a los mismos por
                                referencia, previo a su registración como Usuario de Mercado Free, optando de forma expresa por recibir los
                                mismos y toda otra información por medios digitales.
                            </p>

                            <h4>Definiciones</h4>

                            <p>
                                <b>Página:</b> Dominio <a href="http://www.mercadofree.com.ar" target="_blank">www.mercadofree.com.ar</a> que se pone a disposición de los Usuarios de Internet.
                            </p>

                            <p>
                                <b>Usuario:</b> Persona física o jurídica que utiliza o navega por la Página.
                            </p>

                            <p>
                                <b>Contenido:</b> Son las páginas que conforman la totalidad del dominio
                                <a href="http://www.mercadofree.com.ar" target="_blank">www.mercadofree.com.ar</a>,
                                las cuales conforman la información y los servicios que <b>MERCADO FREE</b> pone a disposición
                                de los Usuarios de Internet. En ellas se contienen los mensajes, textos, fotografías, gráficos,
                                iconos, logos, tecnología, links, texturas, dibujos, archivos de sonido y/o imagen, grabaciones,
                                software, aspecto, diseño gráfico y códigos fuente y, en general, cualquier clase de material contenido en la Página.
                            </p>

                            <p>
                                <b>Web:</b> Palabra técnica que describe el sistema de acceso a la información vía Internet,
                                que se configura por medio de páginas confeccionadas con lenguaje HTML o similar, y
                                mecanismos de programación tales como java, javascript, PHP, u otros, etc…
                                En estas páginas diseñadas y publicadas bajo un nombre de dominio Internet son el resultado
                                de la información que el titular pone a disposición de los Usuarios de Internet.
                            </p>

                            <p>
                                <b>Hiperenlace:</b> Técnica por la cual un Usuario puede navegar por diferentes páginas de la Web,
                                o por Internet, con un simple click sobre el texto, icono, botón o indicativo que contiene el enlace.
                            </p>

                            <p>
                                <b>Cookies:</b> Medio técnico para la “trazabilidad” y seguimiento de la navegación en los sitios Web.
                                Son pequeños ficheros de texto que se escriben en el ordenador del Usuario. Este método tiene
                                implicaciones sobre la privacidad, por lo que MERCADO FREE avisará oportuna y fehacientemente de
                                su utilización en el momento en que se implanten en la Página.
                            </p>

                            <p>
                                Este Aviso Legal está sujeto a cambios y actualizaciones por lo que la versión publicada por
                                <b>MERCADO FREE</b>  puede ser diferente en cada momento en que el Usuario acceda al Portal.
                                Por tanto, el Usuario debe leer el Aviso Legal en todas y cada una de las ocasiones en que acceda a la Página.
                            </p>

                            <p>
                                La simple y mera utilización de la Página otorga la condición de usuario de la Página, bien sea persona
                                física o jurídica, y obligatoriamente implica la aceptación completa, plena y sin reservas de todas y
                                cada una de las cláusulas y condiciones generales incluidas en el Aviso Legal. Si el Usuario no
                                estuviera conforme con las cláusulas y condiciones de uso de este Aviso Legal, se abstendrá de utilizar la Página.
                            </p>

                            <p>
                                A través de la Página, <b>MERCADO FREE</b> facilita a los Usuarios el acceso y la utilización de
                                diversos Contenidos publicados por medio de Internet por <b>MERCADO FREE</b> o por terceros autorizados.
                            </p>

                            <p>
                                El Usuario está obligado y se compromete a utilizar la Página y los Contenidos de conformidad con
                                la legislación vigente, el Aviso Legal, y cualquier otro aviso o instrucciones puestos en su conocimiento,
                                bien sea por medio de este aviso legal o en cualquier otro lugar dentro de los Contenidos que conforman la
                                Página, así como con las normas de convivencia, la moral y buenas costumbres generalmente aceptadas.
                            </p>

                            <p>
                                A tal efecto, el Usuario se obliga y compromete a NO utilizar cualquiera de los Contenidos con fines o
                                efectos ilícitos, prohibidos en el Aviso Legal o por la legislación vigente, lesivos de los derechos e
                                intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o
                                impedir la normal utilización de los Contenidos, los equipos informáticos o los documentos, archivos y
                                toda clase de contenidos almacenados en cualquier equipo informático propios o contratados por <b>MRCADO FREE</b>,
                                de otros Usuarios o de cualquier usuario de Internet (hardware y software).
                            </p>

                            <p>
                                El Usuario se obliga y se compromete a no transmitir, difundir o poner a disposición de terceros
                                cualquier clase de material contenido en la Página, tales como informaciones, textos, datos,
                                contenidos, mensajes, gráficos, dibujos, archivos de sonido y/o imagen, fotografías, grabaciones,
                                software, logotipos, marcas, iconos, tecnología, fotografías, software, enlaces, diseño gráfico y códigos
                                fuente, o cualquier otro material al que tuviera acceso en su condición de Usuario de la Página,
                                sin que esta enumeración tenga carácter limitativo.
                            </p>

                            <p>
                                <b>Asimismo, de conformidad con todo ello, el Usuario no podrá:</b>
                            </p>

                            <p>
                                Reproducir, copiar, distribuir, poner a disposición o de cualquier otra forma comunicar públicamente,
                                transformar o modificar los Contenidos, a menos que se cuente con la autorización escrita y explícita de
                                <b>MERCADO FREE</b>, que es titular de los correspondientes derechos, o bien que ello resulte legalmente permitido.
                            </p>

                            <p>
                                Suprimir, manipular o de cualquier forma alterar el "copyright" y demás datos identificativos de la reserva de
                                derechos de <b>MERCADO FREE</b> o de sus titulares, de las huellas y/o identificadores digitales, o de
                                cualesquiera otros medios técnicos establecidos para su reconocimiento.
                            </p>

                            <p>
                                El Usuario deberá abstenerse de obtener e incluso de intentar obtener los Contenidos empleando para ello
                                medios o procedimientos distintos de los que, según los casos, se hayan puesto a su disposición a este
                                efecto o se hayan indicado a este efecto en las páginas Web donde se encuentren los Contenidos o, en general,
                                de los que se empleen habitualmente en Internet a este efecto siempre que no entrañen un riesgo de daño o
                                inutilización de la Página, y/o de los Contenidos.
                            </p>

                            <h4>Capacidad</h4>

                            <p>
                                Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar.
                                No podrán utilizar los servicios las personas que no tengan esa capacidad, los menores de edad o
                                Usuarios de Mercado Free que hayan sido suspendidos temporalmente o inhabilitados definitivamente.
                                Si estás registrando un Usuario como Empresa, debes tener capacidad para contratar a nombre de tal entidad y
                                de obligar a la misma en los términos de este Acuerdo.
                            </p>

                            <h4>Registración</h4>
                            <p>
                                Es obligatorio completar el formulario de registración en todos sus campos con datos válidos
                                para poder utilizar los servicios que brinda Mercado Free. El futuro Usuario deberá completarlo con
                                su información personal de manera exacta, precisa y verdadera ("Datos Personales") y asume el compromiso de
                                actualizar los Datos Personales conforme resulte necesario. El Usuario presta expresa conformidad con que
                                <b>MERCADO FREE</b> utilice diversos medios para identificar sus datos personales, asumiendo el Usuario la
                                obligación de revisarlos y mantenerlos actualizados. Mercado Free NO se responsabiliza por la certeza de
                                los Datos Personales de los Usuarios. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad,
                                exactitud, vigencia y autenticidad de sus Datos Personales.
                            </p>
                            <p>
                                El Usuario accederá a su cuenta personal ("Cuenta") mediante el ingreso de su Apodo y clave de seguridad personal elegida
                                ("Clave de Seguridad"). El Usuario se obliga a mantener la confidencialidad de su Clave de Seguridad.
                            </p>
                            <p>
                                La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario registre o
                                posea más de una Cuenta. En caso que Mercado Free detecte distintas Cuentas que contengan datos
                                coincidentes o relacionados, podrá cancelar, suspender o inhabilitarlas.
                            </p>
                            <p>
                                El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la
                                misma está restringido al ingreso y uso de su Clave de Seguridad, de conocimiento exclusivo del Usuario.
                                El Usuario se compromete a notificar a Mercado Free en forma inmediata y por medio idóneo y fehaciente,
                                cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma.
                            </p>

                            <p>
                                <b>MERCADO FREE</b> se reserva el derecho de rechazar cualquier solicitud de registración o de cancelar una
                                registración previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión y
                                sin que ello genere algún derecho a indemnización o resarcimiento.
                            </p>

                            <h4>Publicaciones</h4>

                            <p>
                                El Usuario deberá ofrecer a la venta los bienes y promover los servicios en las categorías y
                                subcategorías apropiadas. Las publicaciones podrán incluir textos descriptivos, gráficos, fotografías y
                                otros contenidos y condiciones pertinentes para la venta del bien o la promoción del servicio, siempre que no
                                violen ninguna disposición de este acuerdo o demás políticas de Mercado Free. El bien o servicio ofrecido por
                                el Usuario vendedor debe ser exactamente descrito en cuanto a sus condiciones y características relevantes.
                                Se establece que los precios de los bienes o servicios publicados deberán ser expresados con IVA incluido
                                cuando corresponda la aplicación del mismo, y en moneda de curso legal. Mercado Free podrá remover cualquier
                                publicación cuyo precio no sea expresado de esta forma para evitar confusiones o malos entendidos en cuanto
                                al precio final del bien o servicio. Se deja expresamente establecido que ninguna descripción podrá
                                contener datos personales o de contacto, tales como, y sin limitarse a, números telefónicos, dirección de e-mail,
                                dirección postal, direcciones de páginas de Internet que contengan datos como los mencionados anteriormente.
                                No podrán publicitarse otros medios de pagos, distintos de los enunciados por Mercado Free en la página de
                                publicación de artículos.  En caso que se infrinja cualquiera de las disposiciones establecidas en esta cláusula,
                                <b>MERCADO FREE</b> podrá editar el espacio, solicitar al Usuario que lo edite, o dar de baja la publicación
                                donde se encuentre la infracción sin necesidad de aviso previo.
                            </p>

                            <p>
                                El usuario puede incluir imágenes y fotografías del bien o servicio ofrecido siempre que las mismas se
                                correspondan con el mismo, salvo que se trate de bienes o productos o de servicios que por su naturaleza no
                                permiten esa correspondencia. El usuario declara y garantiza que está facultado para incluir las imágenes y
                                fotografías contenidas en sus publicaciones, siendo responsable por cualquier infracción a derechos de terceros.
                                <b>MERCADO FREE</b> podrá impedir la publicación de la fotografía, e incluso del bien o servicio, si interpretara, a
                                su exclusivo criterio, que la imagen no cumple con los presentes Términos y Condiciones.

                            </p>

                            <h4 class="mb20">Propiedad Intelectual</h4>
                            <p>
                                Todas las marcas, nombres comerciales o signos distintivos de cualquier clase que aparecen en la Página son propiedad de
                                <b>MERCADO FREE</b> o, en su caso, de terceros que han autorizado su uso, sin que pueda entenderse que el uso o acceso al
                                Portal y/o a los Contenidos atribuya al Usuario derecho alguno sobre las citadas marcas, nombres comerciales y/o
                                signos distintivos, y sin que puedan entenderse cedidos al Usuario, ninguno de los derechos de explotación que existen o
                                puedan existir sobre dichos Contenidos.

                            </p>

                            <p>
                                De igual modo los Contenidos son propiedad intelectual de <b>MERCADO FREE</b>, o de terceros en su caso, por tanto,
                                los derechos de Propiedad Intelectual son titularidad de <b>MERCADO FREE</b> o de terceros que han autorizado su uso,
                                a quienes corresponde el ejercicio exclusivo de los derechos de explotación de los mismos en cualquier forma y,
                                en especial, los derechos de reproducción, distribución, comunicación pública y transformación.
                            </p>

                            <p>
                                La utilización no autorizada de la información contenida en esta Web, así como la lesión de los derechos de
                                Propiedad Intelectual o Industrial de <b>MERCADO FREE</b> o de terceros incluidos en la Página que hayan cedido
                                contenidos dará lugar a las responsabilidades legalmente establecidas.
                            </p>

                            <h4 class="mb20">Hiperenlaces</h4>

                            <p>
                                Aquellas personas que se propongan establecer hiperenlaces entre su página Web y la Página
                                deberán observar y cumplir las condiciones siguientes:
                            </p>

                            <p>
                                No será necesaria autorización previa cuando el Hiperenlace permita únicamente el acceso a la
                                página de inicio, pero no podrá reproducirla de ninguna forma. Cualquier otra forma de Hiperenlace
                                requerirá la autorización expresa e inequívoca por escrito por parte de <b>MERCADO FREE</b>
                            </p>

                            <p>
                                No se crearán “marcos” (“frames”) con las páginas Web ni sobre las páginas Web de <b>MERCADO FREE</b>
                                - No se realizarán manifestaciones o indicaciones falsas, inexactas, u ofensivas sobre <b>MERCADO FREE</b>
                                sus directivos, sus empleados o colaboradores, o de las personas que se relacionen en la Página por cualquier
                                motivo, o de los Usuarios de las Página, o de los Contenidos suministrados.
                            </p>

                            <p>
                                No se declarará ni se dará a entender que <b>MERCADO FREE</b> ha autorizado el Hiperenlace o que
                                ha supervisado o asumido de cualquier forma los Contenidos ofrecidos o puestos a disposición de
                                la página Web en la que se establece el Hiperenlace.
                            </p>

                            <p>
                                La página Web en la que se establezca el Hiperenlace solo podrá contener lo estrictamente necesario
                                para identificar el destino del Hiperenlace. - La página Web en la que se establezca el Hiperenlace
                                no contendrá informaciones o contenidos ilícitos, contrarios a la moral y a las buenas costumbres
                                generalmente aceptadas y al orden público, así como tampoco contendrá contenidos contrarios a cualesquiera
                                derechos de terceros.
                            </p>

                            <h4>Disponibilidad de la Página</h4>

                            <p>
                                <b>MERCADO FREE</b> no garantiza la inexistencia de interrupciones o errores en el acceso a la
                                Página, a sus Contenidos, ni que éstos se encuentren actualizados, aunque desarrollará sus mejores
                                esfuerzos para, en su caso, evitarlos, subsanarlos o actualizarlos. Por consiguiente, <b>MERCADO FREE</b>
                                no se responsabiliza de los daños o perjuicios de cualquier tipo producidos en el Usuario que traigan
                                causa de fallos o desconexiones en las redes de telecomunicaciones que produzcan la suspensión, cancelación
                                o interrupción del servicio del Portal durante la prestación del mismo o con carácter previo.
                            </p>

                            <p>
                                <b>MERCADO FREE</b>  excluye, con las excepciones contempladas en la legislación vigente,
                                cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la falta
                                de disponibilidad, continuidad o calidad del funcionamiento de la Página y de los Contenidos, al no
                                cumplimiento de la expectativa de utilidad que los usuarios hubieren podido atribuir a la Página y a los Contenidos.
                            </p>

                            <p>
                                La función de los Hiperenlaces que aparecen en esta Web es exclusivamente la de informar al usuario acerca de
                                la existencia de otras Web que contienen información sobre la materia. Dichos Hiperenlaces no constituyen sugerencia
                                ni recomendación alguna.
                            </p>

                            <p>
                                <b>MERCADO FREE</b>  no se hace responsable de los contenidos de dichas páginas enlazadas, del funcionamiento o
                                utilidad de los Hiperenlaces ni del resultado de dichos enlaces, ni garantiza la ausencia de virus u otros elementos
                                en los mismos que puedan producir alteraciones en el sistema informático (hardware y software), los documentos o
                                los ficheros del usuario, excluyendo cualquier responsabilidad por los daños de cualquier clase causados al usuario por este motivo.
                            </p>

                            <p>
                                El acceso a la Página no implica la obligación por parte de <b>MERCADO FREE</b> de controlar la ausencia de
                                virus, gusanos o cualquier otro elemento informático dañino. Corresponde al Usuario, en todo caso,
                                la disponibilidad de herramientas adecuadas para la detección y desinfección de programas informáticos
                                dañinos, por lo tanto, <b>MERCADO FREE</b>  no se hace responsable de los posibles errores de seguridad que
                                se puedan producir durante la prestación del servicio de la Página, ni de los posibles daños que puedan
                                causarse al sistema informático del usuario o de terceros (hardware y software), los ficheros o documentos
                                almacenados en el mismo, como consecuencia de la presencia de virus en el ordenador del usuario utilizado
                                para la conexión a los servicios y contenidos de la Web, de un mal funcionamiento del navegador o del uso
                                de versiones no actualizadas del mismo.
                            </p>

                            <h4>Calidad de la Página</h4>

                            <p>
                                Dado el entorno dinámico y cambiante de la información y servicios que se suministran por medio de la Página,
                                <b>MERCADO FREE</b>  realiza su mejor esfuerzo, pero no garantiza la completa veracidad, exactitud, fiabilidad,
                                utilidad, y/o actualidad de los Contenidos.
                                La información contenida en las páginas que componen este Portal sólo tiene carácter informativo, consultivo,
                                divulgativo y publicitario. En ningún caso ofrecen ni tienen carácter de compromiso vinculante o contractual.

                            </p>

                            <h4>Limitación de responsabilidad</h4>

                            <p>
                                <b>MERCADO FREE</b>  excluye toda responsabilidad por las decisiones que el Usuario pueda tomar basado en
                                esta información, así como por los posibles errores tipográficos que puedan contener los documentos y
                                gráficos de la Página. La información está sometida a posibles cambios periódicos sin previo aviso de su
                                contenido por ampliación, mejora, corrección, o actualización de los Contenidos.
                            </p>

                            <h4>Notificaciones</h4>

                            <p>
                                Todas las notificaciones y comunicaciones por parte de <b>MERCADO FREE</b>  al Usuario realizados
                                por cualquier medio se considerarán eficaces a todos los efectos.
                            </p>

                            <h4>Disponibilidad de los Contenidos</h4>
                            <p>
                                La prestación del servicio de la Página y de los Contenidos tiene, en principio, duración indefinida.
                                <b>MERCADO FREE</b>, no obstante, queda autorizada para dar por terminada o suspender la prestación del
                                servicio de la Página y/o de cualquiera de los Contenidos en cualquier momento. Cuando ello sea razonablemente
                                posible, <b>MERCADO FREE</b>  advertirá previamente la terminación o suspensión de la Página.
                            </p>

                            <h4>Protección de Datos de Carácter Personal</h4>

                            <p>
                                <b>MERCADO FREE</b> es consciente de la importancia de la privacidad de los datos de carácter
                                personal y por ello, ha implementado una Política de Privacidad y de tratamiento de datos personales
                                orientada a proveer la máxima seguridad en el uso y recogida de los mismos, garantizando el cumplimiento
                                de la normativa vigente en la materia y configurando dicha política como uno de los pilares básicos en
                                las líneas de actuación de la entidad.
                            </p>

                            <p>
                                Durante la navegación a través de la web <a href="http://www.mercadofree.com.ar" target="_blank">www.mercadofree.com.ar</a>
                                es posible que se soliciten datos de carácter personal a través de diferentes formularios dispuestos al efecto. Dichos datos formarán parte de los
                                pertinentes tratamientos en función de la finalidad determinada y concreta que motiva el recabo de los mismos.
                            </p>

                            <p>
                                En el supuesto de que aporte sus datos a través de un mensaje de correo electrónico, el mismo
                                formará parte de un tratamiento cuya finalidad será la gestión de la solicitud o comentario que nos realiza.
                            </p>

                            <p>
                                Por otro lado, <b>MERCADO FREE</b> ha implantado las medidas técnicas y organizativas necesarias
                                para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los Datos Personales
                                que los interesados pudieran facilitar como consecuencia del acceso a las diferentes secciones del
                                website <a href="http://www.mercadofree.com.ar" target="_blank">www.mercadofree.com.ar</a>, aplicando
                                las medidas de seguridad adecuadas para la protección de los datos personales.
                            </p>
                            <p>
                                Para más información vea nuestra Política de Privacidad completa en el enlace <a href="{{ path('public_static_politica_privacidad') }}" target="_blank">“Política de Privacidad”</a>
                            </p>

                            <h4>Obligaciones del Comprador </h4>

                            <p>
                                Al ofertar por un bien o contratar un servicio, el Usuario acepta quedar obligado por las condiciones de venta incluidas en
                                la publicación, en la medida en que las mismas no infrinjan las leyes o los Términos y Condiciones Generales y
                                demás políticas de <b>MERCADO FREE</b>. La oferta de compra de un bien o contratación de un servicio es
                                irrevocable salvo en circunstancias excepcionales, tales como que el vendedor cambie sustancialmente la
                                descripción del bien o servicio después de realizada alguna oferta, que exista un claro error tipográfico, o
                                que no pueda verificar la identidad del vendedor.
                            </p>

                            <p>
                                Las ofertas de compra sólo serán consideradas válidas, una vez que hayan sido procesadas por el sistema informático
                                de <b>MERCADO FREE</b>.
                            </p>

                            <p>
                                Tal como lo establece la normativa fiscal vigente, el comprador debe exigir factura o ticket al vendedor como comprobante de la operación.
                            </p>

                            <h4>Obligaciones del vendedor</h4>

                            <p>
                                El usuario vendedor debe tener capacidad legal para vender el bien o servicio objeto de su oferta.
                                Solamente en casos excepcionales el vendedor podrá retractarse de la venta, tales como cuando no haya
                                podido acordar con el usuario comprador sobre la forma de pago, de entrega o no sea posible verificar la
                                verdadera identidad o demás información del comprador.
                            </p>

                            <p>
                                Dado que <b>MERCADO FREE</b> es un punto de encuentro entre comprador y vendedor y no participa de las
                                operaciones que se realizan entre ellos, el vendedor será responsable por todas las obligaciones y cargas
                                impositivas que correspondan por la venta de sus bienes y/o servicios, sin que pudiera imputársele a <b>MERCADO FREE</b>
                                algún tipo de responsabilidad por incumplimientos en tal sentido.
                            </p>

                            <p>
                                Como se menciona anteriormente, <b>MERCADO FREE</b> sólo pone a disposición de los usuarios un
                                espacio virtual que les permite comunicarse mediante Internet para encontrar una forma de vender o
                                comprar artículos y/o servicios. MERCADO FREE no tiene participación alguna en el proceso de negociación y
                                perfeccionamiento del contrato definitivo entre las partes. Por eso, <b>MERCADO FREE</b> no es responsable
                                por el efectivo cumplimiento de las obligaciones fiscales o impositivas establecidas por la ley vigente.
                            </p>

                            <p>
                                <b>MERCADO FREE</b> tendrá el derecho de requerir a los Usuarios Vendedores que reciban devoluciones
                                durante un plazo determinado , tanto si el comprador decide revocar su compra como si inicia un reclamo por
                                producto diferente o defectuoso.  En cualquiera de los mencionados casos, el vendedor está obligado a aceptar
                                el cambio o devolución del producto y podrá hacerse cargo de los gastos que esto conlleve, incluyendo los
                                costos de envío que fueren necesarios.
                            </p>

                            <h4>Prohibiciones</h4>

                            <p>
                                Los usuarios no podrán  mantener ningún tipo de comunicación por e-mail, o por cualquier otro medio
                                (incluyendo las redes sociales) durante la oferta del bien con ninguno de los Usuarios que participan en
                                la misma, salvo en la sección de Preguntas y Respuestas;  dar a conocer sus datos personales o de
                                otros usuarios a través de la sección de Preguntas y Respuestas y/o por algún otro medio
                                (incluyendo pero sin limitar Twitter, Facebook y/ o cualquier otra red social), publicar o
                                vender artículos prohibidos por los Términos y Condiciones Generales, demás políticas de <b>MERCADO FREE</b> o
                                leyes vigentes; publicar artículos idénticos en más de una publicación.
                            </p>

                            <p>
                                Este tipo de actividades será investigado por <b>MERCADO FREE</b> y el infractor podrá ser
                                sancionado con la suspensión o cancelación de la oferta e incluso de su inscripción como usuario de <b>MERCADO FREE</b>
                                y/o de cualquier otra forma que estime pertinente, sin perjuicio de las acciones legales a que pueda dar
                                lugar por la configuración de delitos o contravenciones o los perjuicios civiles que pueda causar a los usuarios oferentes.
                            </p>

                            <h4>Cookies</h4>
                            <p>
                                El sitio web utiliza Google Analytics (en adelante, «Google»), servicio de análisis web facilitado por Google, Inc.,
                                compañía cuya oficina principal está ubicada en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos.
                            </p>
                            <p>
                                Google utiliza cookies, archivos ubicados en el ordenador del usuario, mediante los cuales puede realizar un
                                análisis estadístico del uso que éste hace del sitio Web. La información que genera la cookie acerca de su
                                uso del sitio Web (incluyendo la dirección IP) será directamente gestionada y archivada por Google en sus
                                servidores de Estados Unidos. Google usará esta información por cuenta de la asociación con el único propósito de
                                proporcionar estadísticas sobre el uso del sitio Web, pudiendo transmitir dicha información a terceros en los
                                supuestos legales específicamente recogidos, o cuando dichos terceros traten la información por cuenta de Google.
                                Google no asociará su dirección IP con ningún otro dato del que disponga Google. El usuario tiene la posibilidad de
                                impedir el tratamiento de dicha información configurando su navegador para que rechace el uso de cookies.
                            </p>
                            <p>
                                Para más información vea nuestra Política de Cookies completa en el enlace “Política de Cookies”
                            </p>

                            <h4>Redes Sociales</h4>

                            <p>
                                <b>MERCADO FREE</b> está presente en Redes Sociales y otras plataformas.
                                Haciendo click en los iconos dispuestos al efecto en la página web se redirecciona a dichas plataformas y redes sociales operadas
                                por <b>MERCADO FREE</b>
                            </p>

                            <p>
                                Cualquier otra cuenta distinta relacionada o redireccionada no representa vínculo oficial alguno para <b>MERCADO FREE</b>,
                                y por ello queda exonerado de cualquier tipo de responsabilidad por contenidos publicados en tales
                                redes sociales al no poder ejercitar un control efectivo sobre las mismas.
                            </p>

                            <p>
                                <b>MERCADO FREE</b> colocará dentro su website el acceso correspondiente a cada Red Social en
                                donde pueda tener presencia. <b>MERCADO FREE</b> gestionará las comunicaciones según los términos y
                                condiciones de cada plataforma o red social.
                            </p>

                            <h4>Acceso a través de dispositivos móviles </h4>

                            <p>
                                El acceso por dispositivos o aplicaciones móviles y a las páginas web www.mercadofree.com.ar  es de naturaleza gratuita.
                                Sin embargo, <b>MERCADO FREE</b> no se responsabiliza si el operador de telefonía móvil que opera en el terminal
                                pudiera realizar cualquier tipo de cobro por el uso de navegación de Internet desde el aparato móvil del
                                usuario de la web.
                            </p>

                            <h4>Responsabilidad</h4>

                            <p>
                                <b>MERCADO FREE</b> sólo pone a disposición de los Usuarios un espacio virtual que les permite
                                ponerse en comunicación mediante Internet para encontrar una forma de vender o comprar servicios o bienes.
                                <b>MERCADO FREE</b> no es el propietario de los artículos ofrecidos, no tiene posesión de ellos ni
                                los ofrece en venta. MERCADO FREE no interviene en el perfeccionamiento de las operaciones realizadas
                                entre los Usuarios ni en las condiciones por ellos estipuladas para las mismas, por ello no será
                                responsable respecto de la existencia, calidad, cantidad, estado, integridad o legitimidad de los
                                bienes ofrecidos, adquiridos o enajenados por los Usuarios, así como de la prestación de los servicios
                                y de la capacidad para contratar de los Usuarios o de la veracidad de los Datos Personales por ellos
                                ingresados. Cada Usuario conoce y acepta ser el exclusivo responsable por los bienes y servicios que
                                publica para su venta y por las ofertas y/o compras que realiza.
                            </p>

                            <p>
                                Debido a que <b>MERCADO FREE</b> no tiene ninguna participación durante todo el tiempo en que el bien o servicio se
                                publica para la venta, ni en la posterior negociación y perfeccionamiento del contrato definitivo entre las partes,
                                no será responsable por el efectivo cumplimiento de las obligaciones asumidas por los Usuarios en el perfeccionamiento
                                de la operación. El Usuario conoce y acepta que al realizar operaciones con otros Usuarios o terceros lo hace bajo su propio
                                riesgo. En ningún caso <b>MERCADO FREE</b> será responsable por lucro cesante, o por cualquier otro daño y/o perjuicio
                                que haya podido sufrir el Usuario, debido a las operaciones realizadas o no realizadas por artículos publicados a través de <b>MERCADO FREE</b>.
                            </p>

                            <p>
                                En caso que uno o más Usuarios o algún tercero inicien cualquier tipo de reclamo o acciones
                                legales contra otro u otros Usuarios, todos y cada uno de los Usuarios involucrados en dichos
                                reclamos o acciones eximen de toda responsabilidad a <b>MERCADO FREE</b> y a sus directores,
                                gerentes, empleados, agentes, operarios, representantes y apoderados. Los Usuarios tienen
                                un plazo de 60 días desde la compra para iniciar un reclamo contra otro u otros Usuarios.
                                Una vez vencido este plazo, no podrán iniciar un reclamo desde el sitio de <b>MERCADO FREE</b>.
                            </p>

                            <h4>Jurisdicción y Ley Aplicable</h4>

                            <p>
                                Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República Argentina.
                                Cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o
                                cumplimiento, será sometida ante la Justicia Nacional Ordinaria.
                            </p>

                            <h4>Domicilio</h4>

                            <p>
                                Se fija como domicilio de MERCADO FREE la calle <b>El Faro 2.400 - Bahía Blanca - 8000 - Buenos Aires , Argentina.</b>
                            </p>
                        </div>


                    </div>

                </div>
            </div>

        </div><!-- /container -->
    </div><!-- /content -->
    <!-- End Content -->

{% endblock %}
