<div class="header">
    <div class="container">
        <div class="row">
            <!-- Breadcrumbs -->
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#">Moda</a></li>
                    <li>Ropa de Hombre</li>
                </ol>
            </div><!-- /column -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /page header -->