<div class="modal fade" id="realizarPreguntaProducto" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalLabel"><i class="fa fa-question-circle"></i> Hacer una pregunta</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 mt10">
                        <div class="form-group">
                            <label for="pregunta">Preguntar al vendedor</label>
                            <textarea class="form-control" id="pregunta" placeholder="Realiza la pregunta que tengas para este producto"></textarea>
                            <p class="help-block">No ingreses datos de contacto ni uses un lenguaje inadecuado</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rw btn-default" data-dismiss="modal">Cancelar</button>
                <button id="btnHacerPregunta" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div><!-- /modal content -->
    </div><!-- /modal dialog -->
</div><!-- /modal holder -->
