<div class="modal fade" id="modalDetalleSolicitudRetiro" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="loginLabel"><i class="fa fa-minus-circle"></i> Detalles de la solicitud de retiro</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Usuario solicitante</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static" id="usuarioDetalle"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Fecha</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static" id="fechaDetalle"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Monto</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static" id="montoDetalle"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Cuenta PayPal</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static" id="cuentaPaypalDetalle"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Código respuesta pasarela</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static" id="codigoRespuestaPasarelaDetalle"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Mensaje error Pasarela</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static" id="mensajeErrorPasarelaDetalle"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Referencia Pasarela</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static" id="referenciaPasarelaDetalle"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
            </div>
        </div><!-- /modal content -->
    </div><!-- /modal dialog -->
</div><!-- /modal holder -->