<div class="modal fade" id="modalEliminarNotificacion" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="loginLabel">Eliminar Usuario</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="formEliminarNotificacion" action="{{ path('administracion_notificacion_eliminar') }}" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <h3><span><i class="fa fa-warning"></i></span> Esta seguro que desea realizar esta acción?</h3>
                        </div>
                    </div>
                    <input type="hidden" name="idNotificacionEliminar" id="idNotificacionEliminar" value="">

                </form>
            </div>
            <div class="modal-footer">
                <a id="btnSubmitNotificacionEliminar" class="btn btn-rw btn-primary">Aceptar <img id="submitEditLoading" style="display: none;" class="img-responsive" src=""></a>
                <a class="btn btn-default" data-dismiss="modal">Cancelar</a>

            </div>
        </div><!-- /modal content -->
    </div><!-- /modal dialog -->
</div><!-- /modal holder -->