{% extends '::publicTemplate.html.twig' %}

{% block breadcrumbs %}
<!-- Begin Page Header -->
<div class="header">
    <div class="container">
        <div class="row">
            <!-- Breadcrumbs -->
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li><span class="ion-home breadcrumb-home"></span><a href="{{ path('public_homepage') }}">Inicio</a></li>
                    <li>Registro</li>
                </ol>
            </div><!-- /column -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /page header -->
{% endblock %}


{% block generalContent %}
        <!-- Begin Content -->
        <div class="content-40mg">
            <div class="container">

                <div class="row mb30" style="text-align:center;">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 white-bg-shadow">
                        <div class="row">
                            <!-- Begin Login -->
                            <div class="col-xs-12" style="padding: 30px 70px;">
                                <h4>Regístrate como empresa</h4>
                                <p class="mt15" style="text-align:center;"><a href="{{ path('public_usuario_registrar') }}">Registrarme como persona</a></p>
                                <form role="form" action="{{ path('public_empresa_registrar') }}" method="post">
                                    <div class="form-group">
                                        <input class="form-control" name="cuitRegistrarEmpresa" type="text" placeholder="CUIT">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="razonSocialRegistrarEmpresa" type="text" placeholder="Razón Social">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="emailRegistrarUsuario" type="email" placeholder="Correo Electrónico">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="passwordRegistrarUsuario" class="form-control" id="exampleInputPassword2" placeholder="Crear clave">
                                    </div>
                                    <hr class="mb20 mt15">
                                    <p>
                                        <small>Al registrarme, declaro que soy mayor de edad y acepto los <a href="#">Términos y condiciones</a> y las <a href="#">Políticas de privacidad</a> de MercadoFree</small>
                                    </p>
                                    <button type="submit" class="btn btn-primary full-btn">Registrarme</button>
                                </form><!-- /form -->
                            </div><!-- /column-->
                            <!-- End Login -->
                        </div>

                    </div>
                </div>



            </div><!-- /container -->
        </div><!-- /content -->
        <!-- End Content -->

{% endblock%}
