<div class="modal fade" id="modalDetalleCalificacionPedido" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="loginLabel">Calificación del pedido <label class="label-codigo-pedido"></label></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tiempo de entrega</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="label-tiempo-entrega"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Calidad del producto</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="label-calidad-producto"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Estado de la compra</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="label-compra-aceptada"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row motivo-rechazo-row" style="display: none;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Motivo de la solicitud de devolución</label>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="label-motivo-rechazo"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
            </div>
        </div><!-- /modal content -->
    </div><!-- /modal dialog -->
</div><!-- /modal holder -->
