<div class="row">
    <div class="col-xs-12">
        <h3 class="font-light">
            <i class="fa fa-photo"></i> Slider de Imágenes
            <span class="checkbox checkbox-success checkbox-inline"></span>
        </h3>
    </div>
</div>

<div class="row">
    <form enctype="multipart/form-data">
        <div class="file-loading">
            <input id="kv-explorer" type="file" multiple>
        </div>
        {#<br>#}
        {#<div class="file-loading">#}
            {#<input id="file-0a" class="file" type="file" multiple data-min-file-count="1" data-theme="fas">#}
        {#</div>#}
        {#<br>#}
        {#<button type="submit" class="btn btn-primary">Submit</button>#}
        {#<button type="reset" class="btn btn-outline-secondary">Reset</button>#}
    </form>
    <hr>

</div>