<!-- Modal -->
<div id="uploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">File upload form</h4>
            </div>
            <div class="modal-body">

                <!-- Form -->
                <form method='post' action='' enctype="multipart/form-data">
                    {#<div class="form-group">#}
                    {#Seleccione la imagen : <input type='file' name='file' id='file' class='form-control'><br>#}
                    {#</div>#}

                    {#Título : <input type='file' name='file' id='file' class='form-control' ><br>#}
                    {#Descripción : <input type='file' name='file' id='file' class='form-control' ><br>#}
                    {#<input type='button' class='btn btn-info' value='Upload' id='upload'>#}
                    <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Browse… <input type="file" id="imgInp">
                </span>
            </span>

                    </div>
                </form>

                <!-- Preview-->
                <div id='preview'></div>
            </div>

        </div>

    </div>
</div>