<div class="modal fade" id="modalDetallesOferta" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="loginLabel"><i class="fa fa-search"></i> Detalles de la Oferta</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="formDetallesOferta" action="{{ path('administracion_oferta_detalles') }}" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <div class="row" >
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="nombreOfertaDetalles">Nombre<span class="required">*</span></label>
                                                    <input required="required" disabled class="form-control" type="text" name="nombreOfertaDetalles" id="nombreOfertaDetalles">
                                                </div>
                                                <div class="form-group">
                                                    <label for="descuentoOfertaDetalles">Descuento<span class="required">*</span></label>
                                                    <input required="required" disabled class="form-control" type="text" name="descuentoOfertaDetalles" id="descuentoOfertaDetalles">
                                                </div>
                                                <div class="form-group">
                                                    <label for="estadoOfertaDetalles">Estado <span class="required">*</span></label>
                                                    <select required="required" name="estadoOfertaDetalles" id="estadoOfertaDetalles" class="form-control ">
                                                        <option value="">Seleccionar Estado</option>
                                                    </select>

                                                </div>

                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="fechaInicioOfertaDetalles">Fecha Inicio<span class="required">*</span></label>
                                                    <input required="required" disabled class="form-control" type="text" name="fechaInicioOfertaDetalles" id="fechaInicioOfertaDetalles">
                                                </div>
                                                <div class="form-group">
                                                    <label for="fechaFinOfertaDetalles">Fecha Fin<span class="required">*</span></label>
                                                    <input required="required" disabled class="form-control" type="text" name="fechaFinOfertaDetalles" id="fechaFinOfertaDetalles">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                           <div>
                                    <table id="tableDetalles" class="display table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width:50px;">Imagen</th>
                                            <th style="width:150px;">Nombre</th>
                                            <th style="width:50px;">Precio</th>
                                            <th style="width:50px;">Cantidad</th>
                                            <th style="width:80px;">Categoria</th>
                                        </tr>
                                        </thead>
                                        <tfoot>

                                        </tfoot>
                                    </table>
                                </div>


                        </div>
                    </div>
                    <input type="hidden" name="idCategoria" id="idCategoria" value="">
                    <input type="hidden" name="idCategoriaPadre" id="idCategoriaPadre" value="">
                    <input type="hidden" name="editarCategoria" id="editarCategoria" value="true">
                </form>

            </div>

            <div class="modal-footer">
                <a id="btnSubmitCategoriaEditar" class="btn btn-rw btn-primary">Aceptar <img id="submitEditLoading" style="display: none;" class="img-responsive" src="spinner.gif"></a>
                <a class="btn btn-default" data-dismiss="modal">Cancelar</a>

            </div>
        </div><!-- /modal content -->
    </div><!-- /modal dialog -->
</div><!-- /modal holder -->
<!-- End Register -->