<div class="modal fade" id="modalBloquearOferta" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="loginLabel"><i class="fa fa-edit"></i> Cambiar Estado Oferta</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="formBloquearOferta" action="{{ path('administracion_oferta_bloquear') }}" method="post">
                    <div class="row" >
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="nombreOfertaDetalles">Nombre<span class="required">*</span></label>
                                <input required="required" disabled class="form-control" type="text" name="nombreOfertaDetalles" id="nombreOfertaDetalles" value="">
                            </div>
                            <div class="form-group">
                                <label for="fechaFinOfertaDetalles">Fecha Fin<span class="required">*</span></label>
                                <input required="required" disabled class="form-control" type="text" name="fechaFinOfertaDetalles" id="fechaFinOfertaDetalles" value="">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="descuentoOfertaDetalles">Descuento<span class="required">*</span></label>
                                <input required="required" disabled class="form-control" type="text" name="descuentoOfertaDetalles" id="descuentoOfertaDetalles" value="">
                            </div>
                            <div class="form-group">
                                <label for="estadoOfertaDetalles">Estado <span class="required">*</span></label>
                                <select required="required" name="estadoOfertaDetalles" id="estadoOfertaDetalles" class="form-control ">
                                    <option value="">Seleccionar Estado</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="fechaInicioOfertaDetalles">Fecha Inicio<span class="required">*</span></label>
                                <input required="required" disabled class="form-control" type="text" name="fechaInicioOfertaDetalles" id="fechaInicioOfertaDetalles" value="">
                            </div>

                        </div>
                    </div>
                    <input type="hidden" name="idOferta" id="idOfertaBloquear" value="">
                    <input type="hidden" name="bloquearOferta" id="bloquearOferta" value="true">

                </form>
            </div>
            <div class="modal-footer">
                <a id="btnSubmitOfertaBloquear" class="btn btn-rw btn-primary">Aceptar <img id="submitEditLoading" style="display: none;" class="img-responsive" src=""></a>
                <a class="btn btn-default" data-dismiss="modal">Cancelar</a>

            </div>
        </div><!-- /modal content -->
    </div><!-- /modal dialog -->
</div><!-- /modal holder -->