{% extends '::emails.html.twig' %}

{%  block body %}
    <tr>
        <td valign="top">
            <h2 class="h2" style="color:#444444;
			display:block;
			font-family:Open Sans;
			font-size:30px;
			font-weight: 400;
			line-height:100%;
			margin-top:2%;
			margin-right:0;
			margin-bottom:1%;
			margin-left:0;
			text-align:left;">Recuperación de contraseña</h2>
            <br />
            <div class="textdark" style="color: #444444;
			font-family: Open Sans;
			font-size: 17px;
			line-height: 150%;
			text-align: left;">
                Hola {{ user }}, has recibido este email porque has solicitado recuperar tu contraseña de
                MercadoFree. Para hacerlo, por favor haz clic en el siguiente enlace:
                <br><br>
                <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>

            </div>
        </td>
    </tr>


{% endblock %}

